
# Parts of the sph encoder that should not be in git.
# jhrg 5/7/20

# Get the utils data files from https://www.opendap.org/pub/BALTO.
# The data files are too large for GitHub (> 100MB).

utils/

lib/*.a
bin/
geodyn/examplemodel/
